@import "tailwindcss";

@theme {
  --color-vault-bg: #0A0A0A;
  --color-vault-card: #141414;
  --color-vault-border: #262626;
  --color-vault-text: #A3A3A3;
  --color-vault-hover: #E5E5E5;
}

html, body {
  background-color: var(--color-vault-bg);
  color: var(--color-vault-text);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: var(--color-vault-border); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040; 
}